<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88460603487-bfu45m6auio1enrpk5abd64mpeu66e35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88460603487-bfu45m6auio1enrpk5abd64mpeu66e35</string>
	<key>API_KEY</key>
	<string>AIzaSyDxkRlsR231IQdN-swAbsJ_FHVGeb_Cz-k</string>
	<key>GCM_SENDER_ID</key>
	<string>88460603487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chul.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-2472f</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-2472f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88460603487:ios:dc0716d2884dc67e3aebea</string>
</dict>
</plist>